.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem; /* Ajusta este valor según la altura del header */
  padding-bottom: 4rem; /* Ajusta este valor según la altura del footer */
}

.main-content {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .text-input {
    font-size: 14px;
  }

  button {
    width: 100%;
    max-width: none;
    margin: 10px 0;
  }
}
