/* Nuevos estilos para el contenedor del encabezado */
.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu-btn:focus {
  outline: none;
}

h1 {
  margin: 0; /* Asegurar que no haya margen adicional en el encabezado */
  display: flex;
  align-items: center;
}